.container {
  padding: 62px 110px 80px;
  @media screen and (max-width: 900px) {
    padding: 62px 20px 80px;
  }
}

.advantages {
  &__text {
    color: #333333;
  }

  &__input {
    position: relative;
    max-width: 300px;
  }

  &__delete {
    background: white;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 24px;
    right: -28px;
    width: 16px;
    height: 16px;
  }

  &__add {
    margin-top: 8px;
  }
}

.checkbox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  label {
    margin-left: 5px;
  }
}
.radio{
  margin-top: 24px;
  margin-bottom: 64px;
  label {
    margin-left: 5px;
  }
}
.buttons{
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

