.container {
  padding: 62px 110px 80px;
  @media screen and (max-width: 900px) {
    padding: 62px 30px 80px;
  }
}


.buttons {
  margin-top: 88px;
  display: flex;
  justify-content: space-between;
}

.about {
  display: flex;
  flex-direction: column;

  textarea {
    height: 84px;
    @media screen and (max-width: 900px) {
      height: 200px;
    }
  }
}